[Unit]
Description= Skript welche alle Services startet

[Service]
Type=simple
ExecStart=/bin/sh /home/smartfridge/VM/start.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target
